/* Wrapper */
.wrapper {
  position: relative;
  min-width: 1400px;
  min-height: 100vh;
  background-color: #3F3F3F;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 137px;
  border-radius: 0px 0px 80px 80px;
  background: linear-gradient(180deg, #171717 0%, #7D7D7D 145.45%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  .logo {
    margin-left: 100px;
  }
  .page-title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
  }
  .logout {
    margin-right: 100px;
    color: #fff;
    font-size: 18px;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

/* 층 정보 */
.floor {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(calc(-50% + 63px));
  > ul {
    > li {
      margin-top: 32px;
      padding: 7px 49px 7px 38px;
      &.active {
        background: linear-gradient(270deg, rgba(0, 0, 0, 0.74) 0%, rgba(103, 103, 103, 0.13) 100%);
      }
      &:first-child {
        margin-top: 0;
      }
      > button {
        cursor: pointer;
        border: none;
        color: #fff;
        font-size:32px;
        padding: 0 11px 0 74px;
        background: url('/images/firestatus-ok.png') no-repeat 0 3px;
        background-size: 40px 40px;
        height: 40px;
        line-height: 40px;
      }
      &.fire {
        button {
          background-image: url('/images/firestatus-happpen.png')
        }
      }
    }
  }
}

/* 센서 위치 정보 */
.sensor-info {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: auto;
  padding: 60px 30px;
  background: linear-gradient(90deg, #000 0%, rgba(102, 102, 102, 0.00) 127.45%);
  //transform: translateY(calc(-50% + 63px));
  box-sizing: border-box;
  h2 {
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: left;
    padding-bottom: 16px;
    display: inline-block;
    margin-bottom: 33px;
  }
  > div {
    > div {
      height: 100px;
      .fire-status {
        padding: 0 0 0 70px;
        background: url('/images/firestatus-ok.png') no-repeat 0 0;
        &.fire {
          background-image: url('/images/firestatus-happpen.png')
        }
        > p {
          color: #fff;
          font-size: 24px;
          margin-bottom: 10px;
        }
        > dl {
          color: #fff;
          font-size: 20px;
          display: flex;
          margin-top: 10px;
          gap: 0 10px;
          > dd {
            > ul {
              display: flex;
              align-items: center;
              gap: 0 10px;
              > li {
                color: #fff;
                > p {
                  &:after {
                    content: ",";
                    display: inline;
                  }
                  span {
                    color: #FF0606;
                    font-weight: bold;
                  }
                }
                &:last-child {
                  > p {
                    &:after {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

/* 건물 모델링 영역 */
.model-canvas {
  position: absolute;
  top: 137px;
  left:0;
  width: 100% !important;
  height: calc(100vh - 137px) !important;
}

/* 경보 */
//경보 레이어 및 문구
.fire-signal {
  .fire-signal-layer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: radial-gradient(#333, #f00);
    animation: fireAlarmEffect 2s infinite ease-in-out;
  }
  .fire-signal-text {
    position: absolute;
    left: 50px;
    top: 20%;
    border-radius: 15px;
    border: 3px solid #000;
    background: rgba(82, 80, 80, 0.59);
    font-size: 32px;
    padding: 40px 70px;
    color: #fff;
    line-height: 36px;
    font-weight: 600;
    z-index: 11;
  }
}
@keyframes fireAlarmEffect {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.2;
  }
}

//경보 센서 리스트
.fire-location-list {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 326px;
  padding: 40px 30px;
  background: linear-gradient(90deg, #000 0%, rgba(102, 102, 102, 0.00) 127.45%);
  transform: translateY(calc(-50% + 63px));
  box-sizing: border-box;
  h2 {
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    padding-bottom: 16px;
  }
  > ul {
    padding-top: 30px;
    > li {
      margin-top:10px;
      padding: 0 0 0 40px;
      background: url('/images/firestatus-ok.png') no-repeat 0 3px;
      background-size: 30px 30px;
      color: #fff;
      font-size: 24px;
      min-height: 40px;
      line-height: 34px;
      &:first-child {
        margin-top: 0;
      }
      &.fire {
        background-image: url('/images/firestatus-happpen.png');
      }
      > ul {
        > li {
          background: url('/images/firestatus-ok.png') no-repeat 0 51%;
          background-size: 15px 15px;
          font-size: 18px;
          padding-left: 20px;
          &.fire {
            background-image: url('/images/firestatus-happpen.png');
          }
        }
      }
    }
  }
}
.repair {
  position: absolute;
  bottom: 30px;
  right: 100px;
  color: #000;
  font-size: 20px;
  padding: 25px 84px;
  background-color: #FFFBFB;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
body {
  > canvas {
    display: none !important;
  }
}
